.form-input {
  width: 100%;
  background: rgba($color_matterhorn, 0.8);
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color_white;
  padding: 16px 19px;
  border: none;

  &::placeholder {
    color: rgba($color_white, 0.3);
  }
}