.edit-movie-form {
  max-width: 856px;

  .form-fields {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > .form-field {
      margin-bottom: 30px;

      &:last-child {
        width: 100%;
        margin: 0;
      }
    }
  
    > *:nth-child(2n+1) {
      width: 525px;
      margin-right: 30px;
    }
  
    > *:nth-child(2n) {
      width: 301px;
    }
  }

  .edit-movie-form-actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;

    > .app-btn:first-child {
      margin-right: 13px;
    }
  }
}
