@import 'src/scss/variables';

.movie-card-selected {
  padding: 35px 60px 30px 60px;
  background-color: $color_nero;

  .movie-card-selected-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .movie-card-selected-search-btn {
      background: transparent;
      border: none;
      color: $color_wild_watermelon;
      font-size: 30px;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        transition-duration: 0.1s;
      }
    }
  }

  .movie-card-selected-body {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 27px;

    .movie-card-selected-image {
      max-width: 320px;
    }
  
    .movie-card-selected-content {
      margin-left: 58px;
      text-align: left;
  
      .movie-card-selected-content-header {
        display: flex;
        justify-content: flex-start;
        align-self: center;
        margin-bottom: 4px;
  
        .movie-card-selected-title {
          font-weight: 300;
          font-size: 40px;
          line-height: 49px;
          text-align: center;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: $color_white;
        }
  
        .movie-card-selected-rating {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 300;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          text-transform: uppercase;
          color: $color_white;
          width: 60px;
          height: 60px;
          border: 1px solid $color_white;
          border-radius: 30px;
          margin-left: 25px;
        }
      }
  
      .movie-card-selected-genres {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: rgba($color_white, 0.5);
      }
  
      .movie-card-selected-info {
        margin-top: 30px;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: $color_wild_watermelon;
  
        > span:last-child {
          margin-left: 50px;
        }
      }
  
      .movie-card-selected-overview {
        margin-top: 30px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: rgba($color_white, 0.5);
      }
    }
  }
}
