@import 'src/scss/variables';

.searchform-wrapper {
  width: 100%;
  max-width: 790px;
  margin-top: -35px;

  .searchform-title {
    text-align: left;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color_white;
    margin-bottom: 38px;
  }
  
  .searchform {
    display: flex;
    justify-content: center;
    align-items: center;

    .form-field {
      width: 100%;
      margin-right: 14px;
    }
    
    .searchform-btn {
      min-width: 233px;
    }
  }
}
