@import 'src/scss/variables';

.sortPanel {
  display: flex;
  align-items: center;

  .sortPanelLabel {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba($color_white, 0.6);
    margin-right: 30px;
  }
}
