@import 'src/scss/variables';

.movie-card-selected-container {
  padding: 35px 60px 30px 60px;
  background-color: $color_nero;
  min-height: 500px;

  .movie-card-selected-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .movie-card-selected-search-btn {
      background: transparent;
      border: none;
      color: $color_wild_watermelon;
      font-size: 30px;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        transition-duration: 0.1s;
      }
    }
  }
}
