$font_primary: 'Montserrat';
$font_awesome: 'FontAwesome';

$color_white: #FFFFFF;
$color_wild_watermelon: #F65261;
$color_nero: #232323;
$color_matterhorn :#555555;
$color_black: #000;
$color_zambezi: #606060;
$color_charcoal: #424242;
$color_blackcurrant: #2A202D;
$color_red: #FF0000;

$layout-side-padding: 60px;
